<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
  <ng-template #header>
    <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"/>
  </ng-template>
  <ng-template #title> Advanced Card</ng-template>
  <ng-template #subtitle> Card subtitle</ng-template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    @if (product.id === 1) {
      <p-message icon="pi pi-info-circle" severity="info" text="This is a special product!">
      </p-message>
    }
  </p>
  <div>{{ product.name }} / {{ productResponse().name }}</div>
  <ng-template #footer>
    <div class="flex gap-4 mt-1">
      <p-button [outlined]="true" class="w-full" label="Cancel" severity="secondary" styleClass="w-full"/>
      <p-button
        (click)="saveProduct()"
        [disabled]="false && (!isChecked())"
        [label]="'Save ' + tick()"
        class="w-full"
        styleClass="w-full"
      />
    </div>
  </ng-template>
</p-card>
