<div>
  <p-toolbar styleClass="mb-4">
    <div class="p-toolbar-group-left">
      <h2>Order Management</h2>
    </div>
    <div class="p-toolbar-group-right">
      {{ isAuthenticatedSignal() }}
      @if (isBrowser()) {
        <button
          (click)="toggleAuthenticated()"
          [icon]="isAuthenticatedSignal() ? 'pi pi-sign-out' : 'pi pi-sign-in'"
          [label]="isAuthenticatedSignal() ? 'Logout' : 'Login'"
          class="p-mr-2"
          pButton
          pRipple
          type="button"
        ></button>
      }
    </div>
  </p-toolbar>
  <div class="p-2">
    @if (true) {
      <app-product-list [products]="products"></app-product-list>
    }
  </div>
</div>
