# Global defaults shared by all client applications
management:
  # Distributed Tracing
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  observations:
    key-values:
      application: ${spring.application.name}
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'

# Service Discovery
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://${EUREKA_USERNAME:eureka}:${EUREKA_PASSWORD:password}@${EUREKA_HOST:localhost}:8761/eureka

# OpenAPI defaults for all services
springdoc:
  default-produces-media-type: application/json

# Own props
loki:
  url: ${LOKI_URL:http://localhost:3100/loki/api/v1/push}
app:
  urls:
    api-gateway: http://localhost:8080, http://localhost:4200
